* {
  font-family: Poppins, sans-serif;
  font-style: normal;
  /* 
  border: 1px solid black; */
}

html,
body {
  max-width: 100%;
  margin: 0%;
  padding: 0%;
}
#container {
  max-width: 100%;
  /* height: 100%; */
}
.headDiv {
  width: 100%;
  height: 40px;
  background-color: #ff7451;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  cursor: grab;
}
.headDiv:active {
  cursor: grabbing;
}
.headDiv > p {
  font-size: 17px;
  color: white;
}
.noCursorEvent > p {
  pointer-events: none;
}
.headDiv > span {
  color: white;
  font-weight: 400;
}
#NavBar {
  display: flex;
  align-items: center;
  margin-top: 0;
}
#logoDiv {
  margin-right: 240%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 20px;
  margin-bottom: 0px;
  margin-right: 4%;
  height: 38%;
  cursor: pointer;
}
.hoversearch {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 3px;
  position: absolute;
  z-index: 1;
  top: 18%;
  right: 9%;
  margin-left: -60px;
  font-size: 14px;
}
.hoversearch::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.showSearchText:hover .hoversearch {
  visibility: visible;
}

.hoveruser {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 3px;
  position: absolute;
  z-index: 1;
  top: 18%;
  right: 5%;
  margin-left: -60px;
  font-size: 14px;
}
.hoveruser::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.hoverusertext:hover .hoveruser {
  visibility: visible;
}

.hovercart {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 3px;
  position: absolute;
  z-index: 1;
  top: 18%;
  right: 4%;
  margin-left: -60px;
  font-size: 14px;
}
.hovercart::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.hovercarttxt:hover .hovercart {
  visibility: visible;
}

/* clickOnUser */

.clickOnUser {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 5%;
  height: 10%;
  top: 19%;
  right: 6%;
  background-color: white;
  text-align: center;
  padding: 6%;
  padding-top: 2%;
}
.clickOnUser > p {
  margin-left: -50%;
  text-align: start;
  font-size: 14px;
  color: #6c7568;
}

/* clickOnUserEnd */

/* searchStart */
#clickonSearchOption {
  visibility: hidden;
  position: absolute;
  z-index: 10000000000;
  width: 92%;
  right: 0%;
  top: 0%;
  height: 26%;
  padding: 4%;
  padding-top: 2%;
  background-color: white;
}
/* visibility */
.whatAreYouLookingFor {
  width: 100%;
  display: flex;
  gap: 76%;
  margin-left: 2%;
}
.whatAreYouLookingFor > p {
  color: #777777;
  font-size: 16px;
}
.whatAreYouLookingFor > button {
  width: 5%;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.searchAndbutton {
  display: flex;
}
.searchAndbutton > input {
  padding: 2%;
  width: 80%;
  margin-top: 1%;
  font-size: 24px;
  font-weight: 500;
  color: #333333;
  border: none;
  border-bottom: 1px solid lightslategray;
}
.searchAndbutton > button {
  width: 20%;
  margin-top: 1%;
  margin-left: 60%;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
.btnimg {
  width: 30px;
  height: 30px;
}

/* searchEnd */

#clickonCart {
  visibility: hidden;
  width: 20%;
  max-height: 350px;
  z-index: 1000000;
  position: absolute;
  background-color: white;
  padding: 3%;
  background-color: white;
  overflow: hidden;
  text-align: left;
  right: 3%;
  top: 19%;
  border: 1px solid rgb(238, 239, 240);
}
#clickonCart:hover {
  overflow-y: scroll;
}
#clickonCart > button {
  width: 100%;
  height: 35px;
  background-color: #a3b49b;
  color: white;
  border: none;
  cursor: pointer;
}
#clickonCart > p {
  text-align: center;
}

#clickonCart > p {
  position: relative;
  cursor: pointer;
  z-index: 5;
}
#clickonCart > p:before {
  content: "";
  position: absolute;
  width: 28%;
  height: 2px;
  top: 18px;
  bottom: 0px;
  left: 36.5%;
  background-color: #a3b49b;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
#clickonCart > p:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.cAllSippleH4 {
  /* border: 2px solid black; */
  position: relative;
  cursor: pointer;
  z-index: 5;
}
.cAllSippleH4:before {
  content: "";
  position: absolute;
  width: 28%;
  height: 2px;
  top: 16px;
  bottom: 0px;
  left: 36.5%;
  background-color: #a3b49b;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
.cAllSippleH4:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
#ProductsDivClickedOnCart {
  display: flex;
  width: 100%;
  flex-direction: column;
}
/* #ProductsDivClickedOnCart:hover{
  overflow-y: scroll;
} */
#ProductsDivClickedOnCart img {
  width: 25%;
  height: 50px;
  padding: 2%;
}
#ProductsDivClickedOnCart p {
  width: 30px;
  font-size: 12px;
  margin-left: 1%;
}
.ScartName {
  margin-left: -20% !important;
}
#ProductsDivClickedOnCart p:hover {
  color: #a3b49b;
}
#sdiv {
  width: 100%;
  display: flex;
  border-bottom: 1px solid lightslategray;
  justify-content: space-between;
}
/* clickonCartEnd */

/* shoitemNumberOnCart */
#showItemNumber {
  background-color: black;
  color: white;
  z-index: 20000;
  position: absolute;
  width: 20px;
  height: 18px;
  font-size: 14px;
  right: 4%;
  top: 8.4%;
  border-radius: 50%;
  text-align: center;
}

/* searchEnd */

#searchAccountdiv {
  width: 30%;
  text-align: end;
  margin-left: -15%;
}
.himalayalogo {
  width: 105%;
  margin-left: 50px;
}
#shopAboutStore {
  width: 30%;
  margin-left: 10%;
  margin-right: 25%;
}

#shopAboutStore > span {
  position: relative;
  cursor: pointer;
  z-index: 5;
}
#shopAboutStore > span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 48px;
  bottom: 0px;
  left: 0;
  background-color: #a3b49b;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
#shopAboutStore > span:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
.logotext {
  color: #798673;
  font-size: 19px;
  font-weight: 400;
  line-height: 20px;
  margin-right: 30px;
}

.showNowDiv {
  width: 40%;
}
.showNowDiv > button {
  z-index: 1;
  position: absolute;
  background-color: #48cab2;
  bottom: 18%;
  height: 8%;
  left: 3%;
  color: white;
  width: 12%;
  border: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 33px;
  cursor: pointer;
}
.showNowDiv > button:hover {
  background-color: #3b3b3b;
}

/*Third Part */

#shopbyCategoryDiv {
  margin-top: 7%;
  width: 100%;
  text-align: center;
}
.shopbycatflex {
  display: flex;
  width: 95%;
  margin: auto;
}
.shopbycatflex > div > img {
  width: 86%;
}

/* background */

#backgroundHimalayamain {
  margin-top: -5px;
}
#backgroundHimalaya {
  width: 100%;
  height: 500px;
  background-image: url("//cdn.shopify.com/s/files/1/0399/1728/9633/files/hero-desktop-ashwagandha_x720.jpg?v=1608662725");
  background-size: cover;
}
#backgroundHimalaya > p {
  background-color: #ffffff;
  z-index: 1;
  position: absolute;
  top: 36%;
  width: 35%;
  height: 14%;
  font-size: 46px;
  font-weight: 500;
  text-align: center;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}
#backgroundHimalaya2 {
  width: 100%;
  height: 20%;
  text-align: center;
}
.bseller {
  text-align: center;
}
#backgroundHimalaya2 > p {
  width: 30%;
  font-size: 18px;
  background: inherit;
  z-index: 1;
  position: absolute;
  bottom: 27%;
  left: 3%;
  line-height: 28px;
  text-align: justify;
  color: #333333e3;
}
.showNowDiv {
  width: 40%;
}
.showNowDiv > button {
  z-index: 1;
  position: absolute;
  background-color: #48cab2;
  bottom: 18%;
  height: 8%;
  left: 3%;
  color: white;
  width: 12%;
  border: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 33px;
}
.showNowDiv > button:hover {
  background-color: #3b3b3b;
}

/*Third Part */

#shopbyCategoryDiv {
  margin-top: 7%;
  width: 100%;
  text-align: center;
}
.shopbycatflex > div {
  overflow: hidden;
}
.shopbycatflex {
  display: flex;
  width: 95%;
  margin: auto;
}
.shopbycatflex > div > img {
  width: 86%;
  -webkit-transition: all 5s ease;
  -moz-transition: all 5s ease;
  -ms-transition: all 3s ease;
  transition: all 3s ease;
  cursor: pointer;
}
.shopbycatflex > div > img:hover {
  transform: scale(1.15);
  -webkit-transition: all 0.3s ease-out;
}
.cAllSippleH4 {
  font-size: 14px;
  color: #a3b49b;
  cursor: pointer;
  font-weight: 500;
}
/* .cAllSippleH4:hover{
  text-decoration: underline;
  text-underline-offset: 2px;
} */
#slideshowMainDiv {
  width: 98%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
#productslido {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(16, 25%);
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: auto;
}
.sliderev {
  display: none;
}
#pdetailsDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  cursor: pointer;
}
#pdivImgonly > img {
  width: 85%;
  margin: auto;
}

#pdetailsDiv > p {
  text-align: center;
  margin: 0%;
}
#pdetailsDiv > p:hover {
  text-decoration: underline !important;
  color: inherit;
}
#inlineDivbtntxt {
  display: flex;
}
#inlineDivbtntxt > button {
  height: 44px;
  width: 3%;
  height: 38px;
  font-size: 0px;
  margin-left: 1%;
  z-index: 1;
  position: absolute;
  background-image: url(../Images/shopping-bagWhite.jpg);
  background-color: #a3b49b;
  background-size: 90% 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}
#inlineDivbtntxt > button:hover {
  width: 10%;
  height: 38px;
  color: whitesmoke;
  background-image: none;
}
#inlineDivbtntxt > button:hover::after {
  content: "ADD TO CART";
  font-size: 12px;
}

#inlineDivbtntxt > p {
  margin-left: 26%;
}
/* #inlineDivbtntxt>button:hover{
  color:  #a3b49bd3;
  width: 14%;
  z-index: 1;
  position: absolute;
  height: 7%;
} */
#unlockWisdomDivid {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding: 3%;
  margin: auto;
  margin-top: 5%;
  background-color: #f7f8fa;
}
.textDiv {
  width: 80%;
  margin-left: -20%;
  margin-top: -6%;
}
.imgDiv {
  width: 40%;
}
.textDiv > h1 + p {
  font-size: 25px;
  line-height: 0px;
}
.imgDiv > img {
  width: 35%;
  height: 240px;
}
.bottomtext {
  font-size: 16px;
  line-height: 28px;
  color: #777777;
}
.reviewDiv {
  margin-top: 6%;
  display: grid;
  grid-template-columns: repeat(12, 32%);
  gap: 5% 2%;
  padding: 8%;
  padding-top: 0.1%;
}
.reviewDiv > div {
  border: 1px solid rgba(119, 136, 153, 0.383);
  padding: 3%;
}
.reviewDiv > div > hr {
  background-color: #4ccbb4;
  width: 10%;
  height: 2px;
  margin-left: 1%;
}
.reviewDiv > div > p {
  width: 80%;
  font-size: 18px;
  font-weight: 400;
}
.reviewDiv > div > h5 {
  color: #ababab;
  font-weight: 400;
  line-height: 19px;
  font-size: 13px;
}
.instatwitterfollowid {
  padding: 8%;
  padding-top: 3%;
  padding-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.instatwitterfollowid > div > h1 {
  color: #353535;
  font-weight: 500;
  font-size: 28px;
}
.instagrid {
  display: grid;
  grid-template-columns: repeat(4, 22%);
  padding: 4%;
  padding-top: 0%;
  gap: 1.5%;
  align-content: center;
  justify-content: center;
}
.instagrid > div > img {
  width: 100%;
  height: 260px;
}
.instagrid > div {
  background-color: rgba(0, 0, 0, 0.972);
  height: 260px;
}

.instagrid > div > img:hover {
  opacity: 0.5;
}

.instagrid > .instahover > .instalogo2 {
  visibility: hidden;
  position: absolute;
  width: 25px;
  height: 25px;
  margin-left: -11%;
  margin-top: 9%;
  z-index: 1;
}

/* footer start */

.foot {
  margin-top: 1%;
  background-color: #eef2f0;
  padding: 5%;
  padding-top: 1%;
  padding-bottom: 2%;
}
.footerdiv {
  display: flex;
}
.footerdiv > div {
  width: 24%;
}
.footerdiv > div > p {
  color: #919795;
  line-height: 18px;
}
.footerdiv > div > h4 {
  color: #595c5b;
}
.logoandtextDiv > input {
  width: 82%;
  height: 10%;
  border: none;
}
.logoandtextfollowdiv {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2%;
}
.logoDivbottom > img {
  width: 15px;
  height: 15px;
  margin-left: 16px;
  opacity: 0.3;
}
.bottomlastdiv {
  color: #595c5b;
}
.headtxt {
  font-size: 14px;
  opacity: 0.6;
}
.bottolasttext {
  width: 100%;
  border: 1px solid #8d8d8d;
  opacity: 0.6;
  font-size: 11px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}
.socialMediaLink:hover {
  background-color: white;
  cursor: pointer;
  opacity: 1;
}
.clickForInsta {
  cursor: pointer;
}
.clickForFb {
  cursor: pointer;
}
/* footer End */

/* navshop */

#shopOnHoverDiv {
  width: 82.8%;
  height: 500px;
  z-index: 2;
  position: absolute;
  display: flex;
  padding-left: 8%;
  padding-right: 8%;
  background-color: #ffffff;
  visibility: hidden;
  top: 19%; /*visible*/
}
.lefthoverdiv {
  width: 60%;
  height: 100%;
}
.lefthoverdiv h4,
p:hover {
  color: #838b7e;
  cursor: pointer;
}
.righthoverdiv {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  height: 440px;
  flex-direction: column;
  text-align: center;
}
.righthoverdiv:hover {
  pointer-events: none !important;
}
.righthoverdiv > img {
  width: 100%;
  height: 300px;
}
.shonOnhoverupperdiv {
  border-top: 1px solid rgb(235, 233, 233);
  display: flex;
}
.featuredprod {
  background-color: tomato;
  width: 50%;
  color: white;
  font-weight: 600;
  padding: 3%;
  z-index: 4;
  position: relative;
  bottom: 30px;
  cursor: pointer;
}
.featuredprod + p {
  margin-top: -12%;
  padding: 0px;
}
.shonOnhoverupperdiv > div {
  width: 33%;
}
.lefthoverdiv h4 {
  color: rgb(70, 70, 60);
  opacity: 0.9;
  font-weight: 900;
}
.lefthoverdiv h4:hover {
  opacity: 0.4;
}
.shonOnhoverupperdiv > div > p {
  line-height: 10px;
}
.shoponhoverlowerdiv {
  display: flex;
}
.shoponhoverlowerdiv > div {
  width: 33%;
}
.shoponhoverlowerdiv > div > p {
  line-height: 10px;
}
.lasthoverdivtext1 {
  margin-top: 5.7%;
}
.lasthoverdivtext2 {
  margin-top: 5.7%;
}
.centerline {
  background-color: #777777;
  opacity: 0.1;
}
.upperLine {
  opacity: 0.2;
  visibility: hidden;
}
#hoverover {
  width: 5%;
  height: 9.5%;
  top: 60px;
  background-color: inherit;
  z-index: 4;
  position: absolute;
  cursor: pointer;
}
#productPageDiv {
  background-color: white;
  width: 100%;
  text-align: center;
}

/* navagationDivAddressBar */
.homeherb {
  background-color: rgb(252, 250, 250);
  text-align: left;
  color: #777777;
  font-size: 12px;
  margin-left: 4%;
}

/* popupScreenWhenAddtoCartClicked */
#popupcartDetailDiv {
  z-index: 100;
  width: 40%;
  gap: 0%;
  height: 620px;
  background-color: white;
  position: absolute;
  left: 30%;
  top: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  display: none;
}
#popupcartDetailDiv > img {
  height: 18%;
  width: 18%;
  display: block;
  margin: auto;
}
.itemsInCart p {
  text-align: justify;
}
.itemsInCart {
  width: 60%;
}
.shop2 {
  text-align: center;
  width: 40%;
  width: 70%;
  margin-left: 13% !important;
  padding: 3%;
  border: 1px solid rgb(221, 222, 223);
  color: white;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 500;
  font-family: Poppins, sans-serif;
}
#popupcartDetailDiv p {
  display: block;
  margin-left: 30%;
}
.viewCart {
  background-color: inherit;
  color: black;
  box-sizing: border-box;
}
.viewCart:hover {
  border: 2px solid black;
}

.continue {
  border: 1px solid lightslategray;
  background-color: #59694f;
}
.continue:hover {
  background-color: #a3b49b;
  color: white;
}

.proceed {
  background-color: #a3b49b;
}
.proceed:hover {
  background-color: #59694f;
  color: white;
}
.popProductPrice {
  color: #a3b49b;
  font-size: 14px;
  font-weight: 700;
  font-family: Poppins, sans-serif;
}
.popUpTotal {
  font-family: Poppins, sans-serif;
  color: #a3b49b;
  font-size: 18px;
  font-weight: 600;
}
.bottomLine {
  opacity: 0.2;
}
.alertProductAdded {
  text-align: center;
}
.totalAndPrice {
  margin-left: 40% !important;
  font-family: Poppins, sans-serif;
}
.showProductDetail,
.showProductImage {
  display: flex;
  /* margin: auto; */
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.changeImg:hover {
  border: 1.5px solid black;
}
#closePopedScreen {
  text-align: right;
  font-size: 20px;
  display: block;
  margin: auto;
  margin-right: 6%;
  cursor: pointer;
}
.cursor {
  cursor: pointer;
}

/* goToTOP */
#goToTOP {
  background-color: yellowgreen;
  right: 2%;
  box-sizing: border-box;
  z-index: 10000000000000000000000000000000000;
  position: fixed;
  top: 87%;
  width: 5%;
  height: 60px;
  border: none;
  background-color: #5b6d5f;
  display: none;
}
#goToTOP:hover {
  background-color: #5b6d5fd8;
}

/* slidebutton */
.slideButton {
  width: 3%;
  height: 50px;
  border: none;
  background-color: inherit;
  cursor: pointer;
}
#next {
  background-image: url(../Images/download.png);
  background-size: cover;
}
#backnav {
  background-image: url(../Images/backArrowlogo.png);
  background-size: cover;
}
.lineOnClick {
  display: flex;
  width: 40%;
  gap: 2%;
  margin: auto;
  height: 4px;
  margin-top: 2%;
  justify-content: center;
}
.lineOnClick > span {
  width: 5%;
  cursor: pointer;
}
.lineOnClick span {
  height: 4px;
  width: 4%;
  background-color: rgb(219, 215, 215);
}
.lineOnClick > .line1 {
  width: 8%;
  background-color: lightseagreen;
}
.lineOnClick > span:hover {
  background-color: black;
}
.Scheckout:hover {
  background-color: black !important;
  color: whitesmoke !important;
}
