* {
  font-family: Poppins, sans-serif;
  font-style: normal;

  /* border: 1px solid black; */
}

html,body{
  max-width: 100%;
  margin: 0%;
  padding: 0%;
}
#container {
  max-width:100%;
  /* height: 100%; */
} 
.headDiv {
  width: 100%;
  height: 40px;
  background-color: #ff7451;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  cursor: grab;
}
.headDiv:active {
  cursor: grabbing;
}
.headDiv > p {
  font-size: 17px;
  color: white;
}
.headDiv > span {
  color: white;
  font-weight: 400;
}
#NavBar {
 
  display: flex;
  align-items: center;
  margin-top: 0;
}
#logoDiv {
  margin-right: 240%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 20px;
  margin-bottom: 0px;
  margin-right: 4%;
  height: 38%;
  cursor: pointer;
}
.hoversearch{
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 3px;
  position: absolute;
  z-index: 1;
  top: 18%;
  right: 9%;
  margin-left: -60px;
 font-size: 14px;
}
.hoversearch::after{
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.showSearchText:hover .hoversearch{
  visibility: visible;
}

.hoveruser{
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 3px;
  position: absolute;
  z-index: 1;
  top: 18%;
  right: 5%;
  margin-left: -60px;
  font-size: 14px;
}
.hoveruser::after{
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.hoverusertext:hover .hoveruser{
  visibility: visible;
}

.hovercart{
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 3px;
  position: absolute;
  z-index: 1;
  top: 18%;
  right: 4%;
  margin-left: -60px;
  font-size: 14px;
}
.hovercart::after{
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.hovercarttxt:hover .hovercart{
  visibility: visible;
}

/* clickOnUser */

.clickOnUser{
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 5%;
  height: 10%;
  top: 20%;
  right: 6%;
  background-color: white;
  text-align: center;
  padding: 6%;
  padding-top: 2%;
}
.clickOnUser>p{
  margin-left: -50%;
  text-align: start;
  font-size: 14px;
  color: #6c7568;
}

/* clickOnUserEnd */

/* searchStart */
#clickonSearchOption{
  visibility: hidden;                  
  position: absolute;
  z-index: 5;
  width: 92%;
  right:0%;
  top: 0%;
  height: 26%;
  padding: 4%;
  padding-top: 2%;
  background-color: white;
 
}  
#clickonCart{
  visibility: hidden;
  width: 20%;
  max-height: 250px;
  z-index: 1000000;
  position: absolute;
  background-color: white;
  padding: 3%;
  background-color: white;
  overflow: scroll;
  text-align: left;
}
#clickonCart>button{
width: 100%;
height: 35px;
background-color:#a3b49b;
color: white;
border: none;
cursor: pointer;
}
#clickonCart>p{
  text-align: center;
}

#clickonCart > p {
  position: relative;
  cursor: pointer;
  z-index: 5;

}
#clickonCart > p:before {
  content: "";
  position: absolute;
  width: 28%;
  height: 2px;
  top: 18px;
  bottom: 0px;
  left: 36.5%;
  background-color: #a3b49b;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
#clickonCart > p:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
#ProductsDivClickedOnCart{
display: flex;
width: 100%;
flex-direction: column;
}
#ProductsDivClickedOnCart img{
width: 25%;
height: 50px;
padding: 2%;
}
#ProductsDivClickedOnCart p{
width: 30px;
font-size: 12px;
margin-left: 1%;
}
#sdiv{
width: 100%;
display: flex;
border-bottom: 1px solid lightslategray;
justify-content: space-between;
}        
#showItemNumber{
  background-color: black;
  color: white;
  z-index: 20000;
  position: absolute;
  width: 20px;
  height: 18px;
  font-size: 14px;
  right: 4%;
  top: 8.4%;
  border-radius: 50%;
  text-align: center;
}     

/* cartend */
                                                        /* visibility */
.whatAreYouLookingFor{
  width: 100%;
  display: flex;
  gap: 76%;
  margin-left: 2%;
}
.whatAreYouLookingFor>p{
  color: #777777;
  font-size: 16px;
}
.whatAreYouLookingFor>button{
  width: 5%;
  border: none;
  font-size: 20px;
  background-color: inherit;
  cursor: pointer;
}
.searchAndbutton{
  display: flex;
}
.searchAndbutton>input{
  padding: 2%;
  width: 80%;
  margin-top: 1%;
  font-size: 24px;
  font-weight: 500;
  color:#333333;
  border: none;
  border-bottom: 1px solid lightslategray;
}
.searchAndbutton>button{
  width: 20%;
  margin-top: 1%;
  margin-left: 60%;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
.btnimg{
  width: 30px;
  height: 30px;
}


/* searchEnd */

#searchAccountdiv {
  width: 30%;
  text-align: end;
  margin-left: -15%;
}
.himalayalogo {
  width: 105%;
  margin-left: 50px;
}
#shopAboutStore {
  width: 30%;
  margin-left: 10%;
  margin-right: 25%;
}

#shopAboutStore > span {
  position: relative;
  cursor: pointer;
  z-index: 5;

}
#shopAboutStore > span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 48px;
  bottom: 0px;
  left: 0;
  background-color: #a3b49b;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
#shopAboutStore > span:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
.logotext {
  color: #798673;
  font-size: 19px;
  font-weight: 400;
  line-height: 20px;
  margin-right: 30px;
}

.showNowDiv {
  width: 40%;
}
.showNowDiv > button {
  z-index: 1;
  position: absolute;
  background-color: #48cab2;
  bottom: 18%;
  height: 8%;
  left: 3%;
  color: white;
  width: 12%;
  border: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 33px;
}
.showNowDiv > button:hover {
  background-color: #3b3b3b;
}

/*Third Part */

#shopbyCategoryDiv {
  margin-top: 7%;
  width: 100%;
  text-align: center;
}
.shopbycatflex {
  display: flex;
  width: 95%;
  margin: auto;
}
.shopbycatflex > div > img {
  width: 86%;
}

/* footer start */

.foot{
  margin-top: 1%;
  background-color: #eef2f0;
  padding: 5%;
  padding-top: 1%;
  padding-bottom: 2%;
}
.footerdiv{
  display: flex     ;
}
.footerdiv>div{
  width: 24%;
}
.footerdiv>div>p{
  color: #919795;
  line-height: 18px;
}
.footerdiv>div>h4{
  color: #595c5b;
}
.logoandtextDiv>input{
   width: 82%;
  height: 10%;
  border: none;
}
.logoandtextfollowdiv{
   width: 100%;
  display: flex;
  align-items: center;
  gap: 2%;
}
.logoDivbottom>img{
  width: 15px;
  height: 15px;
  margin-left: 16px;
  opacity: 0.3;
}
.bottomlastdiv{
  color: #595c5b;
}
.headtxt{
  font-size: 14px;
  opacity: .6;
}
.bottolasttext{
  width: 100%;
  border: 1px solid #8d8d8d;
  opacity: 0.6;
  font-size: 11px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

/* footer End */

/* navshop */

#shopOnHoverDiv{
  width: 82.8%;
  height: 500px;
  z-index: 2;
  position: absolute;
  display: flex;
  padding-left: 8%;
  padding-right: 8%;
  background-color:#ffffff;
  visibility: hidden;    
  top: 19%;                  /*visible*/
}
.lefthoverdiv{
  width: 60%;
  height: 100%;
}
.lefthoverdiv h4,p:hover{
color: #838b7e;
cursor: pointer;
}
.righthoverdiv{
  width: 25%;
  height: 100%;
  display: flex;
 align-items: center;
 height: 440px;
 flex-direction: column;
 text-align: center;
}
.righthoverdiv>img{
  width: 100%;
  height: 300px;
}
.shonOnhoverupperdiv{
  border-top: 1px solid rgb(235, 233, 233);
  display: flex;
}
.featuredprod{
  background-color: tomato;
  width: 50%;
  color: white;
  font-weight: 600;
  padding: 3%;
  z-index: 3;
  position: relative;
  bottom: 30px;
}
.featuredprod+p{
  margin-top: -12%;
  padding: 0px;
}
.shonOnhoverupperdiv>div{
  width: 33%;
}
.lefthoverdiv h4{
  color: rgb(70, 70, 60);
  opacity: .9;
  font-weight: 900;
}
.lefthoverdiv h4:hover{
  opacity: 0.4;
}
.shonOnhoverupperdiv>div>p{
  line-height: 10px;
}
.shoponhoverlowerdiv{
  display: flex;
}
.shoponhoverlowerdiv>div{
  width: 33%;
}
.shoponhoverlowerdiv>div>p{
  line-height: 10px;
}
.lasthoverdivtext1{
  margin-top: 5.7%;
}
.lasthoverdivtext2{
  margin-top: 5.7%;
}
.centerline{
  background-color:#777777 ;
  opacity: .1;
}
.upperLine{
  opacity: .2;
  visibility: hidden;
}
#hoverover{
  width: 5%;
  height: 9.5%;
   top: 60px;
  background-color: inherit;
  z-index: 4;
  position:absolute;
  cursor: pointer;
}

#productPageDiv{
  background-color: white;
  width: 100%;
  text-align: center;
}

/* navagationDivAddressBar */
.homeherb{
 background-color: #f7f8fa;
  text-align: left;
  color: #777777;
  font-size: 12px;
  padding: 1%;
  font-family: Poppins, sans-serif;
  font-weight: 400;
}
.homnav{
  margin-left: 3%;
}

/* navagationDivAddressBar */

/* productPage */

  #ProductDescription{
      width: 100%;
      height: 2000px;
      display: flex;
  }
  #ProductDescriptionleftDiv{
      width: 50%;
      height: 100%;
      /* display: flex; */
  }
  #ProductDescriptionrightDiv{
    width: 50%;
    height: 100%;
  }
  
  #ProductDescriptionImgDiv{
      width: 100%;
      height: 28%;
  }
  #ProductDescriptionImgDiv>img{
      height: 100%;
      width: 100%;
  }
#clicktochangeimage{
    display: flex;
    width: 100%;
    height: 25%;
    gap: 2% 2%;
    justify-content: center;
    align-items: center;
}
.changeImg{
  cursor: pointer;
}
#clicktochangeimage>div{
    width: 20%;
    height: 20%;
}
#clicktochangeimage>div>img{
    width: 80%;
    height: 80%;
    border: 1px solid black;
} 
#ProductDescriptionrightDiv>div>h1{
    width: 70%;
    font-family: Poppins, sans-serif;;
}
.TwoButtonProduct{
    width: 100%;
    height: 50px;
    display: flex;
}
.addToCartProduct{
    width: 70%;
    height: 100%;
}
#addToCartProduct>button{
    margin-left: -40%;
    width: 418%;
    height: 100%;
    background-color: #a3b49b;
    border: none;
    color: whitesmoke;
}
.buttonCounter{
    width: 30%;
    display: flex;
    height: 100%;
    overflow: hidden;
}
.buttonCounter>button{
    width: 30%;
    background-color:  #f8f8f8;
    border: none;
    cursor: pointer;
    height: 100%;
}
.buttonCounter>span{
    width: 10%;
    background-color: #f8f8f8;
    border: none;
    height: 100%;
   padding-top: 8%;
}
.buyitnowdiv{
    width: 90%;
    height: 50px;
    margin: 7%;
    margin-left: 1%; 
}
.buyitnowdiv>button{
    background-color: #a3b49b;
    border: none;
    height: 100%;
    width: 100%;
    color: whitesmoke;
}
#descriptionList{
    width: 70%;
    text-align: justify;
    cursor: pointer;
}
.describ>h4{
    height: 25px;
    background-color: #eef2f0;
    width: 87%;
    padding: 2%;
    margin-left: 1%;
}
#descriptionList>ul{
    display: none;
    margin-top: -4%;
    color: #777777;
    font-size: 18px;
 padding: 3%;
 line-height: 28px;
 margin-left: 6%;
}
.describeImg{
    width: 80%;
    display: grid;
    /* gap: 10%; */
    grid-template-columns: repeat(4,24%);
}
.describeImg>img{
    margin-top: 4%;
    width: 40%;
}
.cursor{
  cursor: pointer;
}
.bgimg{
    width: 90%;
}
.bgimg>img{
width: 100%;
}
#addToCartBtn{
  cursor: pointer;
}
#addToCartBtn:hover{
  background-color:#4b5545 ;
}


/* popupScreenWhenAddtoCartClicked */
#popupcartDetailDiv{
    z-index: 100;
    width: 40%;
    height: 580px;
    background-color: white;
    position: absolute;
   left: 30%;
   top:0%;
   display: flex;     
   flex-direction: column;
  align-items: center;
  display: none;
  position: fixed;
  
}
#popupcartDetailDiv>img{
    height: 20%;
    width: 20%;
    display: block;
    margin: auto;
}
.itemsInCart p{
    text-align: justify;
}
.itemsInCart{
    width: 60%;
}
.shop2{
    text-align: center;
    width: 40%;
    width: 70%;
    margin-left: 13% !important;
    padding: 3%;
    border: 1px solid rgb(221, 222, 223);
    color: white;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: 500;
    font-family: Poppins, sans-serif;;
}
#popupcartDetailDiv p{
  display: block;
margin-left: 30%;
}
.viewCart{
    background-color: inherit;
    color: black;
    box-sizing: border-box;
}
.viewCart:hover{
    border: 2px solid black;
    
}
.continue{
  border: 1px solid lightslategray;
  background-color: #59694f ;
}
.continue:hover{
  background-color:#a3b49b;
  color: white;
}

.proceed{
  background-color:#a3b49b ;
}
.proceed:hover{
  background-color: #59694f;
  color: white;
}
.popProductPrice{
  color: #a3b49b;
  font-size: 14px;
  font-weight: 700;
  font-family: Poppins, sans-serif;
}
.popUpTotal{
 font-family: Poppins, sans-serif;
 color: #a3b49b;
 font-size: 18px;
 font-weight: 600;

}
.bottomLine{
 opacity: .2;
}
.alertProductAdded{
  text-align: center;
}
.totalAndPrice{
  margin-left: 40% !important;
  font-family: Poppins, sans-serif;;
}
.showProductDetail,.showProductImage{
  display: flex;
  /* margin: auto; */
  align-items: center ;
  justify-content: center;
  box-sizing: border-box;
}
.changeImg:hover{
  border: 1.5px solid black;
}
#closePopedScreen{
  text-align: right;
  font-size: 20px;
  display: block;
  margin: auto;
  margin-right: 6%;
  cursor: pointer;
}
.cursor{
  cursor: pointer;
}
#findOUT{
  background-color:rgb(12, 164, 224);
  position: absolute;
  z-index: 18;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  right: 20%;
  top: 200%;
  border: none;
}
#findOUT:hover{
width:65px;
height: 65px;
background-color: rgb(89, 207, 253);
}
.findoutdiv{
 
  display: none;
  position: absolute;
  z-index: 9;
  width: 50%;
  background-color:white;
  text-align: center;
  height: 140px;
 top: 280%;
 right: 2%;
 background-color: yellow;
}
/* .findouthd{

} */

/* goToTOP */
#goToTOP{
  background-color: yellowgreen;
  right: 2%;
  box-sizing: border-box;
  z-index: 100000;
  position:fixed;
  top: 87%;
  width: 5%;
  height: 60px;
  border: none;
  background-color: #5b6d5f;
  display: none;
  }
  #goToTOP:hover{
    background-color: #5b6d5fd8;
  }
  